header {
    background-color: #070308;
 
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    top: 0;
    color: #fff;

    z-index: 10;

  
}



span {
    width: 70px;
    height: 80px;
    background-image: url("../../../assets/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    display: flex;
    gap: 20px;

}
@media (max-width: 1000px) {
    a {
        display: none;
    }
}

div {
    display: flex;
    gap: 20px;
    width: 35%;
    align-items: center;
    justify-content: center;
}



input {
    width: 60%;
}

.menu {
    width: 5%;
}